@{
    ViewData["Title"] = "Home Page";
}

@model NicoPortfolio.Models.Message
<div id="home-sec">
    <div class="overlay">
        <div class="container">
            <div class="row pad-top-bottom  move-me">
                <div class="col-lg-5 col-md-5 col-sm-5 text-center">
                    <img src="~/images/header_image.gif" class="main-img img-circle wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".2s" alt="" />
                    <h1 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".4s">Nico Daunt</h1>
                    <h2 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".6s">Web Developer</h2>
                    <a href="#about-sec" class="btn custom-btn-one btn-lg wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".8s">About</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-center  ">
                    <a href="#about-sec" class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".1s">
                        <i class="fas fa-cog fa-spin icon-round icon-round-active"></i>
                        <h3 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".2s">ABOUT ME</h3>
                    </a>
                    <a href="#resume-sec" class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".3s">
                        <i class="fas fa-cog fa-spin icon-round icon-round-active"></i>
                        <h3 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".4s">RESUME</h3>
                    </a>
                    <a href="#portfolio-sec" class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".5s">
                        <i class="fas fa-cog fa-spin icon-round icon-round-active"></i>
                        <h3 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".6s">PORTFOLIO </h3>
                    </a>
                    <a href="#hire-sec" class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".7s">
                        <i class="fas fa-cog fa-spin icon-round icon-round-active"></i>
                        <h3 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".8s">HIRE ME</h3>
                    </a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 text-center">
                    <img src="~/images/header_image.gif" class="main-img-2 img-circle wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".2s" alt="" />
                    <h1 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".4s">PDX</h1>
                    <h2 class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".6s">VR/AR/WEB/MOBILE</h2>
                    <a href="#resume-sec" class="btn custom-btn-one btn-lg wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".8s">DOWNLOAD RESUME</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End of Home Section -->
<!-- ABOUT SECTION END-->
<section id="skill-sec">
    <div class="overlay">
        <div class="container">
            <div class="row pad-top-bottom move-me">
                <div class="col-md-4 col-sm-2 text-center wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".4s">
                    <img src="~/images/vive.gif" />
                    <h4><a href="https://connect.unity.com/u/59c4b8dd09091500294aa3e8" target="_blank"> VR CONTENT</a></h4>
                </div>
                <div class="col-md-4 col-sm-2 text-center  wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".6s">
                    <img src="~/images/placeholder.png" />

                    <h4><a href="">PLACEHOLDER</a></h4>
                </div>

                <div class="col-md-4 col-sm-2 text-center wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".8s">
                    <img src="~/images/computer.gif" />
                    <h4><a href="https://github.com/vrnico" target="_blank"> WEB CONTENT</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SKILL SECTION END-->
<section id="resume-sec">
    <div class="container">
        <div class="row  move-me">
            <div class="col-lg-4 col-md-4 col-sm-4 wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".2s">
                <h1>DOWNLOAD </h1>
                <h1>RESUME</h1>
                <div class="color-strip"></div>
                <a href="#resume-sec" class="btn btn-style-three ">DOWNLOAD RESUME (.txt file)</a>
                <a href="#resume-sec" class="btn btn-style-three ">DOWNLOAD RESUME (.pdf file)</a>
                <a href="#resume-sec" class="btn btn-style-three ">DOWNLOAD RESUME ( .md file)</a>

                <div class="social-icon">

                    <a href="https://github.com/vrnico">
                        <i class="fab fa-github fa-4x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/nico-daunt/" target="_blank">
                        <i class="fab fa-linkedin fa-4x"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter fa-4x"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".4s">

                <div class="board">
                    <div class="board-inner">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a href="#home" data-toggle="tab" title="PERSONAL DETAILS">
                                    <span class="round-tabs one">
                                        <i class="fa fas fa-crosshairs fa-spin icon-round"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#profile" data-toggle="tab" title="EDUCATIONAL PROFILE">
                                    <span class="round-tabs two">
                                        <i class="fas fa-certificate fa-spin icon-round"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#exp" data-toggle="tab" title="EXPERIENCE DETAILS">
                                    <span class="round-tabs three">
                                        <i class="fas fa-cubes fa-spin icon-round"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#location" data-toggle="tab" title="PRESENT LOCATION">
                                    <span class="round-tabs four">
                                        <i class="fas fa-crosshairs fa-spin icon-round"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#contact" data-toggle="tab" title="CONTACT ME">
                                    <span class="round-tabs five">
                                        <i class="fas fa-phone fa-spin icon-round"></i>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">

                            <h4 class="head text-center">PERSONAL DETAILS</h4>
                            <p class="narrow text-center">
                                <span>
                                    <i>NAME : </i>nico daunt
                                </span>
                                <span>
                                    <i>AGE :</i>26 YEARS
                                </span>
                                <span>
                                    <i>EXPERIENCE :</i>5 + YEARS
                                </span>
                            </p>


                        </div>
                        <div class="tab-pane fade" id="profile">

                            <h4 class="head text-center">EDUCATIONAL PROFILE</h4>
                            <p class="narrow text-center">
                                <span>
                                    <i>TECHINICAL : </i>EPICODUS FULL TIME PROGRAMMING
                                </span>
                                <span>
                                    <i>SKILLS  :</i>HTML, CSS , C#, JQUERY, etc.
                                </span>
                                <span>
                                    <i>SOFTWARES  :</i>UNITY, MAYA, ADOBE SUITE etc.
                                </span>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="exp">
                            <h4 class="head text-center">EXPERIENCE DETAILS</h4>
                            <p class="narrow text-center">
                                <span>
                                    <i>C#/.NET EPICODUS FULL TIME PROGRAMMING COURSE </i>2018 COHORT
                                </span>
                                <span>
                                    <i>PORTLAND IMMERSIVE MEDIA GROUP </i>2016 - PRESENT | CREATOR/CONTRIBUTOR
                                </span>
                                <span>
                                    <i>OPEN SIGNAL :</i>2017 - PRESENT | PRODUCER.
                                </span>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="location">
                            <h4 class="head text-center">CURRENTLY </h4>
                            <p class="narrow text-center">
                                <span>
                                    <i>CITY </i>PORTLAND, OREGON
                                </span>
                                <span>
                                    <i>COUNTRY </i>UNITED STATES OF AMERICA
                                </span>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="contact">
                            <h4 class="head text-center">CONTACT ME </h4>

                            <p class="narrow text-center">
                                <span>
                                    <i>EMAIL </i>nico.daunt@gmail.com
                                </span>
                                <span>
                                    <i>Call or text</i>(415) 595-0819
                                </span>
                                <span>
                                    <i>SKYPE </i>ndaunt
                                </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


</section>
<!-- RESUME SECTION END-->
<!-- TESTIMONIAL SECTION END-->
<!-- PORTFOLIO SECTION END-->
<section id="hire-sec">
    <div class="overlay">
        <div class="container">
            <div class="row text-center pad-top-bottom wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <h1>HIRE ME</h1>
                    <p>this form sends input to desired user </p>
                    <br />
                </div>

            </div>
            <div class="row  move-me wow bounceIn animated" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="col-lg-6  col-md-6  col-sm-6">
                    <h2>Send a new message</h2>
                    <hr />
                    @using (Html.BeginForm())
                    {

                        @Html.LabelFor(model => model.Body)
                        @Html.TextBoxFor(model => model.Body)
                        <input type="submit" value="Send!" />
                    }
                </div>
                <div class="col-lg-4 col-lg-offset-1  col-md-4  col-md-offset-1 col-sm-4 col-sm-offset-1" id="footer-sec">
                    <p>
                        currently looking for vr/ar/web dev internships in portland oregon. make contact if you're interested in collaborating or hiring
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- HIRE SECTION END-->
<div class="move-me">
    <a href="#home-sec" class="scrollup"><i class="fa fa-chevron-up"></i></a>
</div>
<script src="~/js/jquery-1.10.2.js"></script>>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/jquery.easing.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/jquery.easypiechart.min.js"></script>
<script src="~/js/jquery.prettyPhoto.js"></script>
<script src="~/js/styleSwitcher.js"></script>
<script src="~/js/custom.js"></script>